@using (Html.BeginForm("Body", "Home", FormMethod.Get, new
{
    @class= "navbar-form navbar-left",
    role = "search"
}))
{
    <div class="form-group">
        @Html.TextBox("searchquery","",new { @id="searchquery",
        @class="form-control input-sm", placeholder="Search" })
        @Html.Hidden("fromcontroller", @ViewContext.RouteData.
        Values["controller"], new { @id = "fromcontroller" })
    </div>
    <button type="submit" class="btn btn-primary btn-xs">GO</button>
}