@model ProductsListViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div id="categories" class="col col-md-3">
        @await Component.InvokeAsync("NavigationMenu")
    </div>
    <div id="body" class="col-md-9">
        <div id="Detail" class="card-body">
        </div>
        @foreach (var p in Model.Products)
        {
            await Html.RenderPartialAsync("ProductSummary", p);
        }
        <div page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true"
             page-class="btn" page-class-normal="btn-secondary"
             page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory"
             class="btn-group pull-right m-1">
        </div>
    </div>
</div>
<script type="text/javascript">
    function someFunction(id) {
        var url = "/Product/GetPstring/" + id;
        $.get(url, null, function (data) {
            $("#Detail").html(data.description);
        });
        LoadData(id);
    }

    function LoadData(id) {
        alert(id);
        $.ajax({
            url: "/Product/GetPstring/" + id,
            type: "GET",
            dataType: "json",
            success: function (data) {
                alert(data.description);
            },
            error: function (xhr, status, error) {
                alert(xhr.responseText);
                alert(status);
                alert(error);
            }
        });
    }
</script>
