@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row bg-transparent">
    <p class="text-center"> <h1>Footer----------------------------------Footer</h1></p>
</div>